@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #2c2c2c;
    font-family: 'Readex Pro', sans-serif;
    color: #fff;

}


a{
    text-decoration: none;
    color: #fff;
}


.breadcrumbs{
    width: 1200px;
    margin: 0 auto;
    font-size: 10px;
    padding-top: 30px;
    padding-left: 100px;
    margin-bottom: 30px;
}


.b2{
    color: #ff7f50;
}

.silde{
    width: 1200px;
    height: 500px;
    /* border: #fff 1px solid; */
    margin: 0 auto;
    display: flex;
    overflow: hidden;
}

.bpic{
    padding-left:30px ;
}

.arrow{
    width: 1200px;
    margin: 0 auto;
}

.icon{
    padding-left: 460px;
}

.icon1{
    width: 80px;
    margin: 30px;


}
.icon2{
    width: 80px;
    margin: 30px;
}



.city{
    /* border: #fff 1px solid; */
    margin-top: 50px;
}

.fpic{
    width: 1200px;
    height: 600px;
    display: flex;
    margin: 0 auto;

}


.city li{
    background-size: cover;
    background-position: center center;
    transition: 1s;
}

.city .fpic1{
    background-image: url(../img/aerial/al7.png);
    flex-grow: 1;

}
.city .fpic2{
    background-image: url(../img/aerial/al3.png);
    flex-grow: 1;

}

.fpic1:hover{
    flex-grow: 5;
}

.fpic2:hover{
    flex-grow: 5;
}

.sea{
    width: 1200px;
    height: 600px;
    /* border: #fff 1px solid; */
    margin: 100px auto;
    overflow:hidden
}

h3{
    font-size: 92px;
    position: absolute;
    top: 1270px;
    right:50px;
    text-shadow: 0.1em 0.1em 0.05em #333
}

h4{
    font-size: 92px;
    position: absolute;
    top: 1970px;
    right: 720px;
    text-shadow: 0.1em 0.1em 0.05em #333
}

.spic{ 
    width: 1200px;
    transform:scale(2,2);transition: all 1s ease-out;

}

.spic:hover{
    transform:scale(1.2,1.2);
}