@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #2c2c2c;
    font-family: 'Readex Pro', sans-serif;
    color: #fff;

}


a{
    text-decoration: none;
    color: #fff;
}




.breadcrumbs{
    width: 1200px;
    margin: 0 auto;
    font-size: 10px;
    padding-top: 80px;
    padding-left: 50px;
    margin-bottom: 30px;
}


.b2{
    color: #ff7f50;
}

/* slider */


input {
    display: none;
  }
  
  
  #slider {
    position: relative;
    width: 50%;
    height: 42vw;
    margin: 20px auto;
    perspective: 1400px;
    transform-style: preserve-3d;
  }
  
  input[type=radio] {
    position: relative;
    top: 108%;
    left: 50%;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    opacity: 0.4;
    transform: translateX(-83px);
    cursor: pointer;
  }
  
  
  input[type=radio]:nth-child(5) {
    margin-right: 0px;
  }
  
  input[type=radio]:checked {
    opacity: 1;
  }
  
  
  #slider label,
  #slider label img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: white;
    font-size: 70px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;
  }
  
  
  /* Active Slide */
  #s1:checked ~ #slide1,
   #s2:checked ~ #slide2,
    #s3:checked ~ #slide3,
     #s4:checked ~ #slide4,
      #s5:checked ~ #slide5 {
    box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
    transform: translate3d(0%, 0, 0px);
  }
  
  /* Next Slide */
  #s1:checked ~ #slide2,
   #s2:checked ~ #slide3,
    #s3:checked ~ #slide4,
     #s4:checked ~ #slide5,
      #s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(20%, 0, -100px);
  }
  
  
  /* Next to Next Slide */
  #s1:checked ~ #slide3,
   #s2:checked ~ #slide4,
    #s3:checked ~ #slide5,
     #s4:checked ~ #slide1,
      #s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(40%, 0, -250px);
  }
  
  /* Previous to Previous Slide */
  #s1:checked ~ #slide4,
   #s2:checked ~ #slide5,
    #s3:checked ~ #slide1,
     #s4:checked ~ #slide2,
      #s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(-40%, 0, -250px);
  }
  
  /* Previous Slide */
  #s1:checked ~ #slide5,
   #s2:checked ~ #slide1,
    #s3:checked ~ #slide2,
     #s4:checked ~ #slide3,
      #s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(-20%, 0, -100px);
  }

/* 以上結束slider */


.city{
    /* border: #fff 1px solid; */
    margin-top: 50px;
    padding-top: 50px;
    width: 1200px;
    margin: 0 auto;
    
}

.fpic{
    width: 1200px;
    height: 600px;
    display: flex;
    margin: 0 auto;

}


.city li{
    background-size: cover;
    background-position: center center;
    transition: 1s;
}

.city .fpic1{
    background-image: url(../img/aerial/al7.png);
    flex-grow: 1;

}
.city .fpic2{
    background-image: url(../img/aerial/al3.png);
    flex-grow: 1;
}

.fpic1:hover{
    flex-grow: 5;
}

.fpic2:hover{
    flex-grow: 5;
}

h3{
    font-size: 92px;
    position: relative;
    top: -100px;
    left:700px;
    text-shadow: 0.1em 0.1em 0.05em #333;
}

.sea{
    width: 1200px;
    height: 600px;
    /* border: #fff 1px solid; */
    margin: 100px auto;
    overflow:hidden
}

h4{
    font-size: 92px;
    position: relative;
    top: -110px;
    left:20px;
    text-shadow: 0.1em 0.1em 0.05em #333;
}

.spic{ 
    width: 1200px;
    transform:scale(2,2);transition: all 1s ease-out;

}

.spic:hover{
    transform:scale(1.2,1.2);
}


@media screen and (max-width: 768px){

  .city{
    /* border: #fff 1px solid; */
    margin-top: 50px;
    padding-top: 50px;
    width: 500px;
    margin: 0 auto;
    
}

.city li{
    background-size: cover;
    background-position: center center;
    transition: 1s;
}

h3{
    font-size: 42px;
    position: relative;
    top: -180px;
    left:150px;
    text-shadow: 0.1em 0.1em 0.05em #333;
}

.fpic{
  width: 500px;
  height: 300px;
  display: flex;
  margin: 0 auto;
}

.sea{
  width: 500px;
  height: 300px;
  /* border: #fff 1px solid; */
  margin: 0 auto;
  margin-bottom: 50px;
  overflow:hidden
}

h4{
  font-size: 42px;
  position: relative;
  top: -130px;
  left:150px;
  text-shadow: 0.1em 0.1em 0.05em #333;
}

.spic{ 
  width: 500px;
  transform:scale(2,2);transition: all 1s ease-out;

}

.spic:hover{
  transform:scale(1.2,1.2);
}

}