@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #2c2c2c;
    font-family: 'Readex Pro', sans-serif;
    color: #fff;
}




a{
    text-decoration: none;
    color: #fff;
}


.breadcrumbs{
    width: 1200px;
    margin: 0 auto;
    font-size: 10px;
    padding-top: 30px;
    padding-left: 100px;

}

.b2{
    color: coral;
}

.silde{
    height: 600px;
    border: #fff 1px solid;
    margin: 30px auto;
}

.city{
    width: 1200px;
    height: 600px;
    border: #fff 1px solid;
    margin: 50px auto;
    display: flex;

}

.sea{
    width: 1200px;
    height: 600px;
    border: #fff 1px solid;
    margin: 50px auto;


}

.pic{ 
    width: 1200px;

}