@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #2c2c2c;
    font-family: 'Readex Pro', sans-serif;
    color: #fff;
}

/* 資訊 */

.top{
    height: 380px;
    background-image: url(../img/artistic/at5.png);
    background-size: cover;
}

section{
    margin: 0 auto;
    width: 1200px;
    /* border: aliceblue 1px solid; */
    padding: 100px;
    display: flex
}

h2{
    padding: 20px 0px 10px 0px;
    font-size: 36px;
    width: 375px;
    display: block;
    border-bottom: aliceblue 1px solid;
}

h3{
    display: block;
    font-size: 16px;
    padding-top: 10px;
}

.info{
    display: block;
    font-size: 16px;
    padding-top: 20px;
    line-height: 3;
}

.map{
    height: 425px;
    padding-left: 155px;
}

.icon{
    height: 45px;
    padding-top: 15px;
}

/* 輸入框 */

.input{
    
    border: #fff 1px solid;
    margin: 0 auto;
    width: 800px;
    height: 580px;
    padding:50px;
    margin-bottom: 100px;
}

input:focus{
    outline: none;
}

h4{
    font-size: 28px;
    text-align: center;
    padding-bottom: 20px;
}

.textbox{
    padding: 20px 100px 50px 100px;
}

.text{
    border: #2c2c2c;
    border-bottom: 1px solid #fff;
    background-color: #2c2c2c;
    font-family: 'Readex Pro', sans-serif;
    font-size: 18px;
    color: #fff;
    width: 500px;
    padding: 15px;
}

.send{
    border: #fff 1px solid;
    background-color: #2c2c2c;
    font-family: 'Readex Pro', sans-serif;
    font-size: 16px;
    color: #fff;
    width: 100px;
    padding: 10px;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.send:hover{
    color: coral;
    border: coral 0.5px solid;
}